@font-face {
    font-family: 'deliusregular';
    src: url('../fonts/delius-regular.eot');
    src: url('../fonts/delius-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/delius-regular.woff') format('woff'),
    url('../fonts/delius-regular.ttf') format('truetype'),
    url('../fonts/delius-regular.svg#deliusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, p, a, span, img, blockquote, table, tr, th, td, input, textarea, select {
    padding: 0;
    margin: 0
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    font-size:14px;
    background: #3a91da;
    vertical-align: baseline;
    font-weight: normal;
}
table, tr, th, td {
    border-collapse: collapse;
    border: none
}
input, textarea {
    font-family: OpenSansRegular, Arial, sans-serif;
    color: #000;
    outline: 0;
}
a {
    cursor: pointer;
    color:#3a78db;
}
.isNotTouch a:hover {
    color:#3a78db;
}

img {
    border: none
}
.clear{
    clear: both;
    overflow: hidden;
}
.veneer{
    clear: both;
    overflow: hidden;
    font-size:0;
}
ul, ol {
    list-style: none
}
a:active, .noFocus, .noFocus:focus {
    outline: none;
}

.noResize {
    resize: none
}
.noSelect {
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.no-wrap {
    white-space: nowrap
}

/* @elements*/
/* @button-signup */
.button-signup {
    background: rgba(212, 235, 255, .55);
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #225580;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.isNotTouch .button-signup:hover{
    color: #225580;
    background: rgba(212, 235, 255, .65);
}
.button-signup-inner {
    padding: 6px 16px 5px;
}
/* @button-login*/
.button-login {
    background: rgba(0,0,0,.3);
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #FFF;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.button-login-inner {
    padding: 6px 16px 5px;
}

.isNotTouch .button-login:hover{
    color: #FFF;
    background: rgba(0,0,0,.2);
}

/* @header */

.header {
    width: 1060px;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 12px;
    display: block;
    width: 228px;
    height: 107px;
    background: url(../images/logo.png) no-repeat;
}
.site-title {
    font-family: Georgia, serif;
    font-size: 46px;
    line-height: 56px;
    font-style: italic;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.42);
    text-align: center;
    padding-top: 30px;
}
.header-actions{
    position: absolute;
    top:37px;
    right: 59px;
}
.header-actions .button-signup{
    margin-right: 8px;
}

.about-traxo {
    width: 1060px;
    height: 530px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}

.about-traxo-description-picture {
    top: 0;
    position: absolute;
}

.about-traxo-description_1 .about-traxo-description-picture{
    background: url("../images/info.png") no-repeat;
    width: 39px;
    height: 39px;

}

.about-traxo-description_1 .about-traxo-description-cursor{
    background: url("../images/cursor1.png") no-repeat;
    width: 209px;
    height: 66px;
    margin-left: 192px;
    margin-top: 17px;
    position: absolute;
    visibility: hidden;
}

.isNotTouch .about-traxo-description_1:hover .about-traxo-description-cursor{
    visibility: visible;
}

.about-traxo-description_1 {
    top:10px;
}


.about-traxo-description_2 .about-traxo-description-picture{
    background: url("../images/plane.png") no-repeat;
    width: 39px;
    height: 39px;

}

.about-traxo-description_2 .about-traxo-description-cursor2{
    background: url("../images/cursor2.png") no-repeat;
    width: 103px;
    height: 48px;
    margin-left: 161px;
    margin-top: -17px;
    position: absolute;
    visibility: hidden;
}

.isNotTouch .about-traxo-description_2:hover .about-traxo-description-cursor2{
    visibility: visible;
}

.about-traxo-description_2 {
top: 210px;
}

.about-traxo-description_3 .about-traxo-description-picture{
    background: url("../images/star.png") no-repeat;
    width: 39px;
    height: 39px;

}

.about-traxo-description_3 .about-traxo-description-picture{
    background: url("../images/plane.png") no-repeat;
    width: 39px;
    height: 39px;

}

.about-traxo-description_3 .about-traxo-description-cursor3{
    background: url("../images/cursor3.png") no-repeat;
    width: 95px;
    height: 64px;
    margin-left: 175px;
    margin-top: -55px;
    position: absolute;
    visibility: hidden;
}

.isNotTouch .about-traxo-description_3:hover .about-traxo-description-cursor3{
    visibility: visible;
}

.about-traxo-description_3 {
    top: 410px;
}

.about-traxo-description_4 .about-traxo-description-picture{
    background: url("../images/compass.png") no-repeat;
    width: 39px;
    height: 43px;
}

.about-traxo-description_4 .about-traxo-description-cursor4{
    background: url("../images/cursor4.png") no-repeat;
    width: 104px;
    height: 49px;
    margin-left: -110px;
    margin-top: 24px;
    position: absolute;
    visibility: hidden;
}

.isNotTouch .about-traxo-description_4:hover .about-traxo-description-cursor4{
    visibility: visible;
}

.about-traxo-description_4 {
    top:10px;
}

.about-traxo-description_5 .about-traxo-description-picture{
    background: url("../images/world.png") no-repeat;
    width: 38px;
    height: 37px;
}

.about-traxo-description_5 .about-traxo-description-cursor5{
    background: url("../images/cursor5.png") no-repeat;
    width: 111px;
    height: 21px;
    margin-left: -120px;
    margin-top: -13px;
    position: absolute;
    visibility: hidden;
}

.isNotTouch .about-traxo-description_5:hover .about-traxo-description-cursor5{
    visibility: visible;
}

.about-traxo-description_5 {
    top: 210px;
}

.about-traxo-description_6 .about-traxo-description-picture{
    background: url("../images/hand.png") no-repeat;
    width: 36px;
    height: 36px;
}

.about-traxo-description_6 .about-traxo-description-cursor6{
    background: url("../images/cursor6.png") no-repeat;
    width: 101px;
    height: 55px;
    margin-left: -110px;
    margin-top: -48px;
    position: absolute;
    visibility: hidden;
}

.isNotTouch .about-traxo-description_6:hover .about-traxo-description-cursor6{
    visibility: visible;
}
.about-traxo-description_6 {
    top: 410px;
}

.about-traxo-description-left .about-traxo-description-picture {
    left: 0;
}

.about-traxo-description-right .about-traxo-description-picture {
    right: 0;
}

.about-traxo-description-left {
    left: 0;
    padding-left: 60px;
}

.about-traxo-description-right {
    right: 0;
    padding-right: 60px;
    text-align: right;
}

.about-traxo-description-text {
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 20px;
    color: #42515a;
    font-family: 'deliusregular';
}

.isNotTouch .about-traxo-description:hover .about-traxo-description-text{
    color: #161c1f;
}

.about-traxo-picture {
    position: absolute;
    left: 50%;
    margin-left: -265.5px;
    width: 537px;
    height: 501px;
    background: url(../images/iphone.png) no-repeat;
}

.about-traxo-description {
    position: absolute;
    height: 256px;
}

